


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<body>
	

<div class="row">
		
	<div class="col-md-6 col-md-offset-3">

	<% _.each(blogs, function(blog){ %>

			<p></p>
		 <h1 class="glyphicon glyphicon-fire"><%= blog.title %> </h1>
		 <p></p>
		 <h4 class="glyphicon glyphicon-pencil"><%= blog.body %> </h4>

		 <%})%>	
	</div>

</div>
	



</body>