
<head>
	<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
	
	p a{
		margin-top: 50px;
		margin-right: 50px;
	}

</style>
</head>
<body>

	<div class="row">
			
		<div class="col-md-6 col-md-offset-3">
						
			<% _.each(blogs, function(blog){ %>

			<p></p>
		 <h1 class="glyphicon glyphicon-fire"><a href=/mostrar/<%= blog.id %>><%= blog.title %></a></h1>
		 <p></p>
		 <h4 ><%= blog.body %> </h4>
		 <p></p>
		 <%})%>	

		 <p>
 			<a href="/nuevo" class="btn btn-primary btn-lg">Crear Entrada</a>
 			<a href="/" class="btn btn-primary btn-lg">Ir a inicio</a>
 	</p>
 
		</div>

	
	</div>
 	</body>
